* {
  /* background-color: red; */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

#container-profile,
#card-minder {
  border: 1px solid rgb(214, 214, 214); 
  border-radius: 10px; 
  font-size: 1.3rem;
  color: rgb(38, 2, 43);
  background-color: rgb(254, 248, 255);
  box-shadow: 0 0 0 0.2rem rgb(252, 234, 255, 0.25);
}

#container-profile {
  max-width: 55rem; 
  padding: 1rem;
  font-size: 1.4rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/minder-profile-background.jpg")

}

#card-minder {
  
  overflow:hidden;
  max-width: 25rem; 
  height: auto; 
}

.card-content-row {
  display: flex; 
  justify-content: space-between;
  margin-bottom: 0.5rem;
}