*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://www.unitypixel.com/files/wallpapers/4k-Abstract-Background-Wallpaper-10002.jpg");
    background-attachment: fixed;
    width: 100%x;
}